node-red/korea.json
[
    {
        "id": "a81c1b44e1b14069",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5380688393a870d3",
        "type": "tcp in",
        "z": "a81c1b44e1b14069",
        "name": "",
        "server": "server",
        "host": "",
        "port": "4000",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "213479ec3b6288c2"
            ]
        ]
    },
    {
        "id": "65ac5545efce9597",
        "type": "tcp out",
        "z": "a81c1b44e1b14069",
        "name": "",
        "host": "127.0.0.1",
        "port": "3333",
        "beserver": "client",
        "base64": false,
        "end": true,
        "tls": "",
        "x": 390,
        "y": 200,
        "wires": []
    },
    {
        "id": "ac64284aa9f592fd",
        "type": "inject",
        "z": "a81c1b44e1b14069",
        "name": "ctr send sample",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"area\":1, \"rack\":1, \"ctr\":0}",
        "payloadType": "json",
        "x": 300,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "5f1afd46a5284f24",
        "type": "json",
        "z": "a81c1b44e1b14069",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 300,
        "wires": [
            [
                "65ac5545efce9597"
            ]
        ]
    },
    {
        "id": "1f54922141b4a65e",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "led11",
        "tooltip": "",
        "group": "d6ff4007b810d7d3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "1",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"relay\": 1, \"cmd\": 1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"relay\": 1, \"cmd\": 0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "05f1efa30e6c1ec8"
            ]
        ]
    },
    {
        "id": "dbc3e5876ceaa9e6",
        "type": "ui_button",
        "z": "a81c1b44e1b14069",
        "name": "",
        "group": "d6ff4007b810d7d3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "alarm1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"relay\": 3, \"cmd\": 0}",
        "payloadType": "json",
        "topic": "1",
        "topicType": "str",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "05f1efa30e6c1ec8"
            ]
        ]
    },
    {
        "id": "a66c4750b9a6d581",
        "type": "ui_gauge",
        "z": "a81c1b44e1b14069",
        "name": "",
        "group": "d6ff4007b810d7d3",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp1",
        "label": "°C",
        "format": "{{msg.payload.temp/100}}",
        "min": "20",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "db52684edb791862",
        "type": "ui_gauge",
        "z": "a81c1b44e1b14069",
        "name": "",
        "group": "d6ff4007b810d7d3",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humid1",
        "label": "%",
        "format": "{{msg.payload.humid/100}}",
        "min": "20",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "4846ae70cc2b3289",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "led21",
        "tooltip": "",
        "group": "164aaee8cdc9ceea",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 510,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "8b1ec657588a6427",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "led22",
        "tooltip": "",
        "group": "164aaee8cdc9ceea",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 510,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "b8aad43bf9ec8143",
        "type": "ui_button",
        "z": "a81c1b44e1b14069",
        "name": "",
        "group": "164aaee8cdc9ceea",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "alarm2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 510,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5c6dd5a5bd9d3688",
        "type": "ui_gauge",
        "z": "a81c1b44e1b14069",
        "name": "",
        "group": "164aaee8cdc9ceea",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pitch2",
        "label": "degree",
        "format": "{{msg.payload.humid/100}}",
        "min": "-90",
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "d54fb5a81bd1632e",
        "type": "ui_gauge",
        "z": "a81c1b44e1b14069",
        "name": "",
        "group": "164aaee8cdc9ceea",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Roll2",
        "label": "degree",
        "format": "{{msg.payload.press/100}}",
        "min": "-90",
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "55fd1479a02cb9fb",
        "type": "ui_gauge",
        "z": "a81c1b44e1b14069",
        "name": "",
        "group": "0910e36cb258eb5b",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "battery",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 90,
        "y": 960,
        "wires": []
    },
    {
        "id": "d36aefd5ecdb8d67",
        "type": "ui_gauge",
        "z": "a81c1b44e1b14069",
        "name": "",
        "group": "164aaee8cdc9ceea",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "battery2",
        "label": "V",
        "format": "{{msg.payload.bat/1000}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 420,
        "wires": []
    },
    {
        "id": "b137c1c1ddc0411e",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "relay1",
        "tooltip": "",
        "group": "0910e36cb258eb5b",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "9",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"relay\": 1, \"cmd\": 1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"relay\": 1, \"cmd\": 0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 640,
        "wires": [
            [
                "69ec435b5b40ab6f"
            ]
        ]
    },
    {
        "id": "d8a2848dc89bde47",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "switch1",
        "tooltip": "",
        "group": "e9786f967dde8e47",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 580,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "aed054939f7e3224",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "switch2",
        "tooltip": "",
        "group": "e9786f967dde8e47",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 580,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "a3155678b99d5486",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "switch3",
        "tooltip": "",
        "group": "e9786f967dde8e47",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 580,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "4a6f8fe2e9a1316e",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "switch4",
        "tooltip": "",
        "group": "e9786f967dde8e47",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 580,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "ed863378c59720ed",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "switch5",
        "tooltip": "",
        "group": "e9786f967dde8e47",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 580,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "80c07a9dc5fc1621",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "switch6",
        "tooltip": "",
        "group": "e9786f967dde8e47",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 580,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "32c154fd0154e22a",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "switch7",
        "tooltip": "",
        "group": "e9786f967dde8e47",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 580,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "10a76e035f26a4e8",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "switch8",
        "tooltip": "",
        "group": "e9786f967dde8e47",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 580,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "5cc032aeda8e90f1",
        "type": "ui_gauge",
        "z": "a81c1b44e1b14069",
        "name": "",
        "group": "d6ff4007b810d7d3",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "battery1",
        "label": "V",
        "format": "{{msg.payload.bat/1000}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "6c2deb6399b23689",
        "type": "ui_gauge",
        "z": "a81c1b44e1b14069",
        "name": "",
        "group": "c66f87689865c4cd",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "spark",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "87c0ed1c1c2784e8",
        "type": "ui_gauge",
        "z": "a81c1b44e1b14069",
        "name": "",
        "group": "c66f87689865c4cd",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "battery",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 680,
        "wires": []
    },
    {
        "id": "23a0d596a4b45e16",
        "type": "ui_gauge",
        "z": "a81c1b44e1b14069",
        "name": "",
        "group": "4ffaec8d79e7a53c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 760,
        "wires": []
    },
    {
        "id": "9ac82a35e3ac17af",
        "type": "ui_gauge",
        "z": "a81c1b44e1b14069",
        "name": "",
        "group": "4ffaec8d79e7a53c",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "battery",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 800,
        "wires": []
    },
    {
        "id": "192b07cbf945c2c8",
        "type": "ui_gauge",
        "z": "a81c1b44e1b14069",
        "name": "",
        "group": "d2d61e511450cc25",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 880,
        "wires": []
    },
    {
        "id": "c8a399ecffbc2c2a",
        "type": "ui_gauge",
        "z": "a81c1b44e1b14069",
        "name": "",
        "group": "d2d61e511450cc25",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "battery",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 920,
        "wires": []
    },
    {
        "id": "80ce84b7359cdf0d",
        "type": "ui_gauge",
        "z": "a81c1b44e1b14069",
        "name": "",
        "group": "e9786f967dde8e47",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 960,
        "wires": []
    },
    {
        "id": "05f1efa30e6c1ec8",
        "type": "function",
        "z": "a81c1b44e1b14069",
        "name": "relay parse",
        "func": "msg.payload = {\"area\": 1, \"rack\": Number(msg.topic), \n    \"relay\": msg.payload.relay, \"ctr\": msg.payload.cmd};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 300,
        "wires": [
            [
                "5f1afd46a5284f24"
            ]
        ]
    },
    {
        "id": "e4160ce914a04635",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "led12",
        "tooltip": "",
        "group": "d6ff4007b810d7d3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "1",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"relay\": 2, \"cmd\": 1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"relay\": 2, \"cmd\": 0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "05f1efa30e6c1ec8"
            ]
        ]
    },
    {
        "id": "213479ec3b6288c2",
        "type": "json",
        "z": "a81c1b44e1b14069",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 80,
        "wires": [
            [
                "acb547796ed0bf47"
            ]
        ]
    },
    {
        "id": "acb547796ed0bf47",
        "type": "function",
        "z": "a81c1b44e1b14069",
        "name": "parse json",
        "func": "var id = Number(msg.payload.id);\nvar temp = Number(msg.payload.temp);\nvar humid = Number(msg.payload.humid);\nvar press = Number(msg.payload.press);\nvar bat = Number(msg.payload.bat);\nvar rssi = Number(msg.payload.rssi);\nmsg.payload = {\"id\":id, \"temp\":temp, \"humid\":humid,\n\"press\":press, \"bat\":bat, \"rssi\":rssi};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 80,
        "wires": [
            [
                "691274b96fb3b4f9",
                "4a934947cb44a5d7",
                "a0a5a655ae84bfa7"
            ]
        ]
    },
    {
        "id": "691274b96fb3b4f9",
        "type": "function",
        "z": "a81c1b44e1b14069",
        "name": "path node1",
        "func": "if(msg.payload.id == 1)\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 80,
        "wires": [
            [
                "a66c4750b9a6d581",
                "db52684edb791862",
                "5cc032aeda8e90f1"
            ]
        ]
    },
    {
        "id": "4a934947cb44a5d7",
        "type": "function",
        "z": "a81c1b44e1b14069",
        "name": "path node1",
        "func": "if(msg.payload.id == 1)\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 200,
        "wires": [
            [
                "0f191bcd1cda079c"
            ]
        ]
    },
    {
        "id": "0f191bcd1cda079c",
        "type": "link out",
        "z": "a81c1b44e1b14069",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "2f439c9eeaf69c35"
        ],
        "x": 805,
        "y": 200,
        "wires": []
    },
    {
        "id": "2f439c9eeaf69c35",
        "type": "link in",
        "z": "a81c1b44e1b14069",
        "name": "link in 2",
        "links": [
            "0f191bcd1cda079c"
        ],
        "x": 695,
        "y": 340,
        "wires": [
            [
                "5c6dd5a5bd9d3688",
                "d54fb5a81bd1632e",
                "d36aefd5ecdb8d67"
            ]
        ]
    },
    {
        "id": "69ec435b5b40ab6f",
        "type": "function",
        "z": "a81c1b44e1b14069",
        "name": "relay Array",
        "func": "msg.payload = {\n    // \"area\": 1, \"rack\": Number(msg.topic),\n    \"area\": 1, \"rack\": 1,\n    \"relay\": msg.payload.relay, \"ctr\": msg.payload.cmd\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 640,
        "wires": [
            [
                "81a74698545522d3",
                "5f1afd46a5284f24"
            ]
        ]
    },
    {
        "id": "7585741da8e718ed",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "relay2",
        "tooltip": "",
        "group": "0910e36cb258eb5b",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "9",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"relay\": 2, \"cmd\": 1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"relay\": 2, \"cmd\": 0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 680,
        "wires": [
            [
                "69ec435b5b40ab6f"
            ]
        ]
    },
    {
        "id": "55420c87a009632a",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "relay3",
        "tooltip": "",
        "group": "0910e36cb258eb5b",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "9",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"relay\": 3, \"cmd\": 1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"relay\": 3, \"cmd\": 0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 720,
        "wires": [
            [
                "69ec435b5b40ab6f"
            ]
        ]
    },
    {
        "id": "631b683d030e491c",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "relay4",
        "tooltip": "",
        "group": "0910e36cb258eb5b",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "9",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"relay\": 4, \"cmd\": 1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"relay\": 4, \"cmd\": 0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 760,
        "wires": [
            [
                "69ec435b5b40ab6f"
            ]
        ]
    },
    {
        "id": "249e7bcd8f4916ad",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "relay5",
        "tooltip": "",
        "group": "0910e36cb258eb5b",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "9",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"relay\": 5, \"cmd\": 1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"relay\": 5, \"cmd\": 0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 800,
        "wires": [
            [
                "69ec435b5b40ab6f"
            ]
        ]
    },
    {
        "id": "845a5438e9127a95",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "relay6",
        "tooltip": "",
        "group": "0910e36cb258eb5b",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "9",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"relay\": 6, \"cmd\": 1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"relay\": 6, \"cmd\": 0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 840,
        "wires": [
            [
                "69ec435b5b40ab6f"
            ]
        ]
    },
    {
        "id": "8aa84b4c77724ada",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "relay7",
        "tooltip": "",
        "group": "0910e36cb258eb5b",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "9",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"relay\": 7, \"cmd\": 1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"relay\": 7, \"cmd\": 0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 880,
        "wires": [
            [
                "69ec435b5b40ab6f"
            ]
        ]
    },
    {
        "id": "706d3afe17688435",
        "type": "ui_switch",
        "z": "a81c1b44e1b14069",
        "name": "",
        "label": "relay8",
        "tooltip": "",
        "group": "0910e36cb258eb5b",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "9",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"relay\": 8, \"cmd\": 1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"relay\": 8, \"cmd\": 0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 920,
        "wires": [
            [
                "69ec435b5b40ab6f"
            ]
        ]
    },
    {
        "id": "81a74698545522d3",
        "type": "debug",
        "z": "a81c1b44e1b14069",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 600,
        "wires": []
    },
    {
        "id": "a0a5a655ae84bfa7",
        "type": "function",
        "z": "a81c1b44e1b14069",
        "name": "path node1",
        "func": "if(msg.payload.id == 1){\n    msg.payload = msg.payload.press;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 240,
        "wires": [
            [
                "86b95631dc980b42"
            ]
        ]
    },
    {
        "id": "86b95631dc980b42",
        "type": "link out",
        "z": "a81c1b44e1b14069",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "c588e93928b53140"
        ],
        "x": 805,
        "y": 240,
        "wires": []
    },
    {
        "id": "c588e93928b53140",
        "type": "link in",
        "z": "a81c1b44e1b14069",
        "name": "link in 3",
        "links": [
            "86b95631dc980b42"
        ],
        "x": 235,
        "y": 780,
        "wires": [
            [
                "8fe801755870ad5b"
            ]
        ]
    },
    {
        "id": "8fe801755870ad5b",
        "type": "function",
        "z": "a81c1b44e1b14069",
        "name": "parse Switch",
        "func": "var myMsg = msg.payload;\n\nif(myMsg & 0x01) msg.payload = true;\nelse msg.payload = false;\n\nvar msg1 = { payload: true };\nif (myMsg & 0x02) msg1.payload = true;\nelse msg1.payload = false;\n\nvar msg2 = { payload: true };\nif (myMsg & 0x04) msg2.payload = true;\nelse msg2.payload = false;\n\nvar msg3 = { payload: true };\nif (myMsg & 0x08) msg3.payload = true;\nelse msg3.payload = false;\n\nvar msg4 = { payload: true };\nif (myMsg & 0x10) msg4.payload = true;\nelse msg4.payload = false;\n\nvar msg5 = { payload: true };\nif (myMsg & 0x20) msg5.payload = true;\nelse msg5.payload = false;\n\nvar msg6 = { payload: true };\nif (myMsg & 0x40) msg6.payload = true;\nelse msg6.payload = false;\n\nvar msg7 = { payload: true };\nif (myMsg & 0x80) msg7.payload = true;\nelse msg7.payload = false;\n\nreturn [msg, msg1, msg2, msg3, msg4, msg5, msg6, msg7];",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 780,
        "wires": [
            [
                "d8a2848dc89bde47"
            ],
            [
                "aed054939f7e3224"
            ],
            [
                "a3155678b99d5486"
            ],
            [
                "4a6f8fe2e9a1316e"
            ],
            [
                "ed863378c59720ed"
            ],
            [
                "80c07a9dc5fc1621"
            ],
            [
                "32c154fd0154e22a"
            ],
            [
                "10a76e035f26a4e8"
            ]
        ]
    },
    {
        "id": "d6ff4007b810d7d3",
        "type": "ui_group",
        "name": "Node1(Humid)",
        "tab": "62674edfa493cdd6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "164aaee8cdc9ceea",
        "type": "ui_group",
        "name": "Node5(기울기)",
        "tab": "62674edfa493cdd6",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0910e36cb258eb5b",
        "type": "ui_group",
        "name": "Node9(Relay)",
        "tab": "9efda07d38c59a99",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e9786f967dde8e47",
        "type": "ui_group",
        "name": "Node9(Switch)",
        "tab": "9efda07d38c59a99",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c66f87689865c4cd",
        "type": "ui_group",
        "name": "Node6(Spark)",
        "tab": "9efda07d38c59a99",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ffaec8d79e7a53c",
        "type": "ui_group",
        "name": "Node7(Temp)",
        "tab": "9efda07d38c59a99",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d2d61e511450cc25",
        "type": "ui_group",
        "name": "Node8(Level)",
        "tab": "9efda07d38c59a99",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62674edfa493cdd6",
        "type": "ui_tab",
        "name": "Uttec",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9efda07d38c59a99",
        "type": "ui_tab",
        "name": "한국기계",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]